@import url(./style.css);
:root {
    font-size:16px;
}
body {
    margin:0;
    padding:0;
    background-image:radial-gradient(rgb(218, 218, 218) 20%,rgb(44, 160, 255));
    background-size:100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'LatoBlack';
    text-align:center;
    font-weight: bolder;
    margin:10px;
}

p {
    font-family:'Montserrat';
    margin:5px;;
}


/* Loading screen */
#loading {
    top:0;
    left:0;
    position:fixed;
    background-color:rgb(211, 211, 211);
    display:flex;
    opacity:1;
    font-size:5rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index:99;
    width:100%;
    height:100vh;
    transition:opacity 1500ms;
}
#loading h1 {
    color:gray;
    font-size:5rem;
}
#loading p {
    color:gray;
    font-size:1.25rem;
}
#loading_text-wrapper {
    display:flex;
    flex-direction: column;
}

/* Header */
#title {
    color:black;
    font-size:3rem;
}

/* Weather section */
main {
    width:auto;
    max-width:1312px; /* Due to padding, max width is closer to 1578px */
    margin-top:30px;
    margin-bottom:30px;
    /* margin-left:10.5%;
    margin-right:10.5%; */
    background-color: rgb(69, 102, 173);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position:relative;
    padding:0;
    overflow-x:hidden;
    padding-left:266px;
}

.forecast-card {
    color:white;
    padding:10px;
    min-height:200px;
    margin:0;
    min-width:240px;
    transition:transform 500ms;
}

.forecast-card:nth-child(odd) {background-color:rgb(69, 85, 233)}
.forecast-card:nth-child(even) {background-color:rgb(32, 42, 133)}
.forecast-card:not(:last-of-type) {border-right:3px rgb(160, 160, 160) solid;}
#card1 {
    border-right:5px rgb(190, 190, 190) solid;
    background-color:rgb(34, 34, 107);
    position:fixed;
    margin-left:-266px;
    z-index:89
}

/* Forecast card elements */
.forecast-card h2 {
    font-family: 'LatoBlack';
    text-align:center;
    margin:0;
    font-size:1.75rem;
}
.forecast-card p, .forecast-card span {
    text-align:center;
    margin:0;
    font-size:1.3rem;
    font-family:'Montserrat';
}

.temperature {
    font-weight:1000;
    font-size:1.45rem;
}
.hot-temp {color:rgb(161, 0, 0);}
.cold-temp {color:rgb(100, 100, 245);}
.freezing-temp {color:rgb(197, 197, 197);}

/* Navigation buttons */
.navigator {
    position:absolute;
    width:45px;
    text-align: center;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-family:'Montserrat';
    font-size:2rem;
    font-weight:bold;
    cursor:default;
    opacity:0;
    transition:opacity 800ms, background 200ms;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    z-index:89
    
}
.navigator:hover {opacity:1}
.navigator:active {background-color:rgba(200, 200, 200, 0.4)}
#left {
    left:265px;
    background-image: linear-gradient(to right, rgba(200,200,200,1),rgba(200,200,200,0));
}
#right {
    right:0;
    background-image: linear-gradient(to left, rgba(200,200,200,1),rgba(200,200,200,0));
}